/*M1LO8 Demonstrate the use of external style sheets (HTML, note the external style sheet must exist and contain CSS) I have created a basic style sheet for backround and text formatting */
body {
  background-color: black;
}

h1 {
  color: tomato;
  text-align: center;
}

p1 {
  color:tomato;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  color: tomato;
  text-align: center;
}

p2 {
  color:tomato;
  font-family: "Times New Roman", Times, serif;
}

<!--M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook) Both of the following are contextual selectors, even though they are redundant I still wanted to include them just to demostrate I know how to use them.-->
h1 {color: tomato}

C {color: tomato}

<!--M2LO6  Demonstrate a CSS id and a CSS class selector (CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors) I did not find anywhere in my code that I wanted to use these, but I did include samples of how I would use them in my styles sheet and commented it out.

<style>
.intro {
  background-color: yellow;
}
</style>

<p class="intro"> This is an example.</p>
-->
